name: Build Expo iOS IPA

on:
  push:
    paths-ignore:
      - '*.md'
      - '*.txt'
      - .github/workflows/build-android.yml

env:
  PROJECT_NAME: ADXLevels

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 25.6.0

      - name: Install dependencies
        run: npm install

      - name: Prebuild for iOS
        run: npx expo prebuild -p ios --clean

      - name: Install iOS Pods
        run: cd ios && pod install --repo-update

      - name: Build Xcode workspace
        run: |
          cd ios
          xcodebuild archive \
            -workspace $PROJECT_NAME.xcworkspace \
            -scheme $PROJECT_NAME \
            -configuration Release \
            -archivePath $PROJECT_NAME.xcarchive \
            CODE_SIGNING_ALLOWED=NO \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGN_ENTITLEMENTS="" \
            CODE_SIGNING_METHOD=manual \
            AD_HOC_CODE_SIGNING_ALLOWED=YES

      - name: Build Xcode project
        run: |
          cd ios
          xcodebuild archive \
            -project $PROJECT_NAME.xcodeproj \
            -scheme $PROJECT_NAME \
            -configuration Release \
            -archivePath $PROJECT_NAME.xcarchive \
            CODE_SIGNING_ALLOWED=NO \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGN_ENTITLEMENTS="" \
            CODE_SIGNING_METHOD=manual \
            AD_HOC_CODE_SIGNING_ALLOWED=YES

      - name: Download and run `xcarchive_to_ipa.sh`
        run: |
          cd ios
          curl -LO https://github.com/JustFrederik/Compile-to-ipa-without-developer-account/raw/refs/heads/main/xcarchive_to_ipa.sh
          bash xcarchive_to_ipa.sh $PROJECT_NAME.xcarchive

      - name: Find and verify IPA
        run: find . -name '*.ipa' -type f

      - name: Upload IPA artifact
        uses: actions/upload-artifact@v4
        with:
          name: adx-level-browser-ios
          path: ./ios/*.ipa
