name: Build Expo iOS IPA

on:
  push:
    paths-ignore:
      - '*.md'
      - '*.txt'
      - .github/workflows/build-android.yml

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 25.6.0

      - name: Install dependencies
        run: npm install

      - name: Build for iOS
        run: npx expo run:ios --configuration Release

      # - name: Prebuild for iOS
      #   run: npx expo prebuild -p ios --clean
      
      # - name: Install iOS Pods
      #   run: cd ios && pod install --repo-update

      # - name: Clone build scripts
      #   run: git clone https://github.com/JustFrederik/Compile-to-ipa-without-developer-account.git build-scripts

      # - name: Make scripts executable
      #   run: chmod +x build-scripts/*.sh

      # - name: Build and create IPA
      #   run: ./build-scripts/project_build.sh ./ios/ADXLevels.xcodeproj

      - name: Find and verify IPA
        run: find . -name '*.ipa' -type f

      - name: Upload IPA artifact
        uses: actions/upload-artifact@v4
        with:
          name: adx-level-browser-ios
          path: ./*.ipa
